[Unit]
Description= un servicio de api para el manejo de personas
Documentation=https://github.com/aesr00/proyectoCCbackend.git
After=network.target

[Service]
Environment=PORT=3000
Type=simple
User=<linux-user>
ExecStart=/usr/bin/node /opt/proyectoCCbackend/source/main.ts
Restart=on-failure

[Install]
WantedBy=multi-user.target